CallSOAPServiceWithJavaNode/RemoteFiles/NumberConversion.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="NumberConversion" targetNamespace="http://www.dataaccess.com/webservicesserver/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.dataaccess.com/webservicesserver/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <documentation>
    <appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="NumberConversion_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="NumberConversionSoapBinding" originalBindingStyle="document"/>
        <binding hasEncoding="false" imported="false" name="NumberConversionSoapBinding12" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </appinfo>
  </documentation>
  <types>
    
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.dataaccess.com/webservicesserver/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
      <xsd:include schemaLocation="NumberConversion_InlineSchema1.xsd"/>
    </xsd:schema>
    </types>
  <message name="NumberToWordsSoapRequest">
    <part element="tns:NumberToWords" name="parameters"/>
  </message>
  <message name="NumberToWordsSoapResponse">
    <part element="tns:NumberToWordsResponse" name="parameters"/>
  </message>
  <message name="NumberToDollarsSoapRequest">
    <part element="tns:NumberToDollars" name="parameters"/>
  </message>
  <message name="NumberToDollarsSoapResponse">
    <part element="tns:NumberToDollarsResponse" name="parameters"/>
  </message>
  <portType name="NumberConversionSoapType">
    <operation name="NumberToWords">
      <documentation>Returns the word corresponding to the positive number passed as parameter. Limited to quadrillions.</documentation>
      <input message="tns:NumberToWordsSoapRequest"/>
      <output message="tns:NumberToWordsSoapResponse"/>
    </operation>
    <operation name="NumberToDollars">
      <documentation>Returns the non-zero dollar amount of the passed number.</documentation>
      <input message="tns:NumberToDollarsSoapRequest"/>
      <output message="tns:NumberToDollarsSoapResponse"/>
    </operation>
  </portType>
  <binding name="NumberConversionSoapBinding" type="tns:NumberConversionSoapType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="NumberToWords">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="NumberToDollars">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="NumberConversionSoapBinding12" type="tns:NumberConversionSoapType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="NumberToWords">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="NumberToDollars">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="NumberConversion">
    <documentation>The Number Conversion Web Service, implemented with Visual DataFlex, provides functions that convert numbers into words or dollar amounts.</documentation>
    <port binding="tns:NumberConversionSoapBinding" name="NumberConversionSoap">
      <soap:address location="https://www.dataaccess.com/webservicesserver/NumberConversion.wso"/>
    </port>
    <port binding="tns:NumberConversionSoapBinding12" name="NumberConversionSoap12">
      <soap12:address location="https://www.dataaccess.com/webservicesserver/NumberConversion.wso"/>
    </port>
  </service>
</definitions>