RequestCountryDetails/RequestCountryDetails_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://RequestCountryDetails" xmlns:tns="http://RequestCountryDetails">
    <xsd:include schemaLocation="RequestCountryDetails.xsd"/>
    <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="GetCountryDetails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="countryRequest" nillable="true" type="tns:CountryRequestType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="GetCountryDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="countryResponse" nillable="true" type="tns:CountryResponseType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    <xsd:complexType name="CountryRequestType">
    <xsd:sequence>
      <xsd:element name="ISOCode" type="tns:ISOCodeType"/>
      <xsd:element name="operation" type="tns:OperationType"/>
    </xsd:sequence>
  </xsd:complexType>

    <xsd:simpleType name="ISOCodeType">
    	<xsd:restriction base="xsd:string">
    		<xsd:whiteSpace value="collapse" />


    		<xsd:length value="2"></xsd:length>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="OperationType">
    	<xsd:restriction base="xsd:string">
    		<xsd:whiteSpace value="collapse"/>
    		<xsd:minLength value="1"/>
    		<xsd:maxLength value="10"/>
    		<xsd:enumeration value="CITY"/>
    		<xsd:enumeration value="NAME"/>
    		<xsd:enumeration value="CURRENCY"/>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="CountryType">
    	<xsd:sequence>
    		<xsd:element maxOccurs="1" minOccurs="1" name="ISOcode" type="tns:ISOCodeType"/>
    		<xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
    		<xsd:element maxOccurs="1" minOccurs="0" name="city" type="xsd:string"/>
    		<xsd:element maxOccurs="1" minOccurs="0" name="currency" type="xsd:string"/>
    	</xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CountryResponseType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="country" type="tns:CountryType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>