FileServiceHandler/FileServiceHandler_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://FileServiceHandler" xmlns:tns="http://FileServiceHandler">
    
    
      <xsd:complexType name="ClienteType">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="1" name="Nome" type="xsd:string"/>
      		<xsd:element maxOccurs="1" minOccurs="0" name="Sobrenome" type="xsd:string"/>
      		<xsd:element maxOccurs="1" minOccurs="1" name="Idade" type="xsd:int"/>
      	</xsd:sequence>
      </xsd:complexType>
</xsd:schema>