FileServiceHandler/FileServiceHandler.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="FileServiceHandler" targetNamespace="http://FileServiceHandler" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://FileServiceHandler" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="FileServiceHandlerHttpBinding" originalBindingStyle="document"/>
        <generatedXSD location="FileServiceHandler_InlineSchema1.xsd"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  
  <wsdl:types>
    
        <xsd:schema targetNamespace="http://FileServiceHandler">
            <xsd:include schemaLocation="FileServiceHandler_InlineSchema1.xsd"/>
            <xsd:include schemaLocation="FileServiceHandler_InlineSchema1.xsd"/>
            <xsd:include schemaLocation="FileServiceHandler_InlineSchema1.xsd"/>
            <xsd:element name="NovoCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inputMessage" nillable="true" type="tns:ClienteType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="NovoClienteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outputMessage" nillable="true" type="tns:ClienteType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="NovoClienteRequestMsg">
    <wsdl:part element="tns:NovoCliente" name="NovoClienteParameters"/>
  </wsdl:message>
    <wsdl:message name="NovoClienteResponseMsg">
    <wsdl:part element="tns:NovoClienteResponse" name="NovoClienteResult"/>
  </wsdl:message>
    <wsdl:portType name="FileServiceHandler">
        <wsdl:operation name="NovoCliente">
      <wsdl:input message="tns:NovoClienteRequestMsg" name="NovoClienteRequest"/>
      <wsdl:output message="tns:NovoClienteResponseMsg" name="NovoClienteResponse"/>
    </wsdl:operation>
    </wsdl:portType>
  <wsdl:binding name="FileServiceHandlerHttpBinding" type="tns:FileServiceHandler">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="NovoCliente">
      <soap:operation soapAction="http://FileServiceHandler/NovoCliente"/>
      <wsdl:input name="NovoClienteRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="NovoClienteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    </wsdl:binding>
  <wsdl:service name="FileServiceHandlerHttpService">
    <wsdl:port binding="tns:FileServiceHandlerHttpBinding" name="FileServiceHandlerHttpPort">
      <soap:address location="http://localhost:7800/FileServiceHandler"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>